<div class="log">
  <form action="/auth/login" method="POST">
    <div class="form">
      <label for="username">Nombre de usuario</label>
      <input type="text" name="username" id="username" placeholder="Escriba aquí su nombre de usuario">
    </div>
    <div class="form">
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" placeholder="*****">
    </div>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Log In</button>
    <div class="form">
      <p>No tienes una cuenta?
        <a href="/auth/signup">Regístrate</a>
      </p>
    </div>
  </form>
</div>