<div class="log-member" style="padding-top: 20px">

  <div class="map-menbers">

    <div id="map"></div>

    <div id="controls-members">

      <button id='clear-button'>Borrar marcación</button>
    </div>


  </div>

  <form action="/auth/member" method="POST">

    <div class="form-member">

      <label for="tipo">El terreno es de regadío o secano?</label>

      <div class="selectors">

        <input type="radio" name="tipo" value="regadio" id="regadio" checked>
        <label for="regadio">Regadío</label>
        <input type="radio" name="tipo" value="secano" id="secano">
        <label for="secano">Secano</label>

      </div>

      <label for="venta">Disponible para venta o alquiler?</label>

      <div class="selectors">

        <input type="radio" name="venta" value="venta" id="venta" checked>
        <label for="venta">Venta</label>
        <input type="radio" name="venta" value="alquiler" id="alquiler">
        <label for="alquiler">Alquiler</label><br>

        <label for="dimensiones">Dimensiones calculadas (ha)</label>
        <input type="text" name="dimensiones" id="dimensiones" readonly>
        <input type="hidden" name="coordenadas" id="coordenadas">
        <br>
        <label for="precio">Precio</label>
        <input type="number" name="precio" placeholder="0" id="precio">

      </div>

    </div>

    <button>Finalizar</button>

  </form>
  <script src='https://maps.googleapis.com/maps/api/js?key={{key}}'> </script>

  <script src="../javascripts/map.js"></script>
  <script src="../javascripts/drawInputMap.js"></script>
</div>