<a href="/auth/logout">Log out</a>

<form action="/auth/member" method="POST">

  <label for="tipo">El terreno es de regadío o secano?</label>
  <input type="radio" name="tipo" value="regadio" checked>Regadío
  <input type="radio" name="tipo" value="secano">Secano<br>

  <label for="dimensiones">Dimensiones en metros cuadrados</label>
  <input type="number" name="dimensiones" placeholder="0">

  <br>

  <label for="venta">Disponible para venta o alquiler?</label>
  <input type="radio" name="venta" value="venta" checked>Venta
  <input type="radio" name="venta" value="alquiler">Alquiler<br>

  <label for="precio">Precio</label>
  <input type="number" name="precio" placeholder="0">

  <br>
  <button>Finalizar</button>

</form>