<form action="/signup" method="POST">

  <label for="username">Nombre de usuario</label>
  <input type="text" name="username" id="username" placeholder="Type your username here">

  <label for="password">Contraseña</label>
  <input type="password" name="password" id="password" placeholder="******">

  <label for="email">E-mail</label>
  <input type="email" name="email" id="email" placeholder="myaddress@mydomain.com">

  <button>Completa tu registro</button>

  <p>Ya tienes una cuenta?
    <a href="/login">Inicia sesión</a>
  </p>

</form>