<form action="/signup" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="Type your username here">

  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="******">

  <label for="email">E-mail</label>
  <input type="email" name="email" id="email" placeholder="myaddress@mydomain.com">

  <button>Complete your registration</button>

  <p>Do you already have an account?
    <a href="/login">Log in</a>
  </p>

</form>