<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="map"></div>

{{!-- <div id="controls">
  <button id='b1'>Center in Barcelona</button>
  <button id='b2'>Center in Madrid</button>
</div> --}}
<script src='https://maps.googleapis.com/maps/api/js?key={{key}}'> </script>
<script src="../javascripts/script.js"></script>