<div class="title">
<h1>Bienvendos a su web para gestionar la venta o alquiler de sus parcelas.</h1>
<h1>Estas son las parcelas actualmente en venta o alquiler</h1>
</div>
<script src="../javascripts/map.js"></script>
<div id="map"></div>

<div class="title">
  <h3>Para información más detallada sobre las parcelas y poder contactar con sus propietarios, regístrese de manera gratuita.</h3>
  <h3>Igualmente tendrá la posibilidad de listar sus propiedades.</h3>
</div>


<script>
  window.plotsInfo = {{{ plotsInfo }}}
</script>
<script src='https://maps.googleapis.com/maps/api/js?key={{key}}'> </script>
<script src="../javascripts/drawStaticMap.js"></script>