<div id="map"></div>


<script>
  window.plotsInfo = {{{ plotsInfo }}}
</script>
<script src='https://maps.googleapis.com/maps/api/js?key={{key}}'> </script>
<script src="../javascripts/drawStaticMap.js"></script>